<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script type="text/javascript" src="./static/client.js"></script> -->
    <style>
        .main-container {
            display: block;
            margin: 0px auto;
            width: 70%;
            height: 500px;
            background: #d8e6fe;
            overflow-x: hidden;
            border-radius: 4px;
        }

        .sendmsg {
            float: right;
            clear: both;
            margin: 11px 14px;
            max-width: 400px;
            background: white;
            padding: 13px;
            border: 2px;
            border-radius: 17px;
            text-align: center;
            word-break: break-all;
        }

        .recmsg {
            float: left;
            clear: both;
            margin: 11px 14px;
            max-width: 400px;
            background: white;
            padding: 13px;
            border: 2px;
            border-radius: 17px;
            text-align: center;
            word-break: break-all;
        }

        #form {
            width: 70%;
            display: block;
            margin: 6px auto;

        }

        #form input {
            width: 86%;
            word-wrap: break-word;
            white-space: pre-wrap;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 22px;
            border-radius: 22px;
            border: none;
            padding: 11px;
            outline: none;

        }

        #headid {
            display: block;
            margin: 0px auto;
            margin-top: 20px;
            width: 70%;
            height: 40px;
            background-color: black;
            color: white;
            text-align: center;
        }

        #headid p {
            margin: 0px;
        }

        .btn {
            margin: 0px;
            padding: 0px;
            width: 92px;
            height: 51px;
            font-size: 27px;
            border-radius: 22px;
            border-style: none;
        }
    </style>
</head>

<body style="    background: #8e91ff;">
    <header id="headid">Total Online Users<p id="onlinecounter">
            <%=count%>
        </p>
    </header>
    <div class="main-container" id="message">
    </div>
    <form action="" method="" id="form">
        <input type="text" placeholder="Enter Your Text On Here" id="inputMessage" autocapitalize="off">
        <button class="btn" type="submit">Send</button>
    </form>
    <!-- JavaScript Start -->
    <script>
        const socket = io();
        const recmsg = document.getElementById('inputMessage');
        const form = document.getElementById("form");
        const message = document.getElementById('message')
        var audio = new Audio();
        audio.src = 'tune.mp3';
        const onlinecount = document.getElementById("onlinecounter")

        form.addEventListener('submit', function (event) {
            const inputmsg = recmsg.value
            event.preventDefault();
            if (inputmsg.length != 0) {
                const msgcontainer = document.createElement('h2')
                audio.play();
                msgcontainer.classList.add('sendmsg')
                msgcontainer.innerText = inputmsg;
                message.appendChild(msgcontainer)
                socket.emit('send', inputmsg)
                // onlinecount.innerText = inputmsg.length
                recmsg.value = ""
            }
            else {
                alert('Please enter something then send')
            }


        })
        // const name = prompt("Enter Your Name");
        socket.emit('new-user-join', name)

        socket.on('new-user', (name) => {
            console.log(name);
            const msgcontainer = document.createElement('h2')
            msgcontainer.innerText = `'${name}' is join the chat`

            msgcontainer.classList.add('recmsg')
            message.appendChild(msgcontainer)
        });

        const onlinecounter = document.getElementById('onlinecounter')
        socket.on('online-counter', (count) => {
            onlinecounter.innerText = count;
        });

        socket.on('receive', (data) => {
            console.log(data.message)
            const msgcontainer = document.createElement('h2')
            msgcontainer.classList.add('recmsg')
            msgcontainer.innerText = `${data.name}:- ${data.message}`;
            message.appendChild(msgcontainer)
        });

    </script>
</body>

</html>